APP_NAME="Watsar Backend"
APP_ENV=local
APP_KEY=base64:LfwtkTXdtTPonYJVzYw86alVN0PZfDToLozuXfVBHek=
APP_DEBUG=true
APP_URL=http://localhost:8000

# SETTING DATABASE SQLITE (Ilike Banget!)
DB_CONNECTION=sqlite
# Bagian di bawah ini dimatikan saja biar gak ganggu
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_DATABASE=db_watsar
# DB_USERNAME=postgres
# DB_PASSWORD=WatsarJunjung

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
QUEUE_CONNECTION=database

VITE_APP_NAME="${APP_NAME}"